<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Luvi Ingressos</title>
</head>
<body>
    <nav class="nav">
        <ul>
            <li>
            <div class="nav-item">
                <img src="{{ url_for('static', filename='img/Luvi Ingressos.png') }}" class="logo">
            </div>
            </li>

            <li>
                <div class="nav-item">
                <img src="{{ url_for('static', filename='img/ingresso (1).png') }}">
                <a href="ingressos"><span>Ingressos</span></a>
                </div>
            </li>

            <li>
                <div class="nav-item">
                <img src="{{ url_for('static', filename='img/cinema.png') }}">
                <span>Cinemas</span>
                </div>
            </li>

            <li>
                <div class="nav-item">
                <img src="{{ url_for('static', filename='img/jornal.png') }}">
                <span>Notícias</span>
                </div>
            </li>

            <li>
                <div class="search-container">
                    <input type="text" placeholder="Digite aqui...">
                    <button type="submit">Pesquisar</button>
                </div>
            </li>

            <li>
                <div class="nav-item">
                    <span>Olá, user!</span>
                </div>
            </li>
        </ul>
    </nav>

    <div class="banner">
        <img src="{{ url_for('static', filename='img/slide1.png') }}" alt="Banner principal">
    </div>

    <br><br>

    <div class="principal">
    <div class="mais-assistidos">
        <h1>Mais assistidos</h1><br>
        
        <div class="filme1">
            <h1>1º</h1>
            <img src="{{ url_for('static', filename='img/filme1.jpg') }}"><br>
            <h3>A Hora do Mal</h3>
        </div>

        <div class="filme2">
            <h1>2º</h1>
            <img src="{{ url_for('static', filename='img/filme2.webp') }}"><br>
            <h3>Uma Sexta-Feira Mais Louca Ainda</h3>
        </div>

        <div class="filme3">
            <h1>3º</h1>
            <img src="{{ url_for('static', filename='img/filme3.webp') }}"><br>
            <h3>Amores Materialistas</h3>
        </div>

        <div class="filme4">
            <h1>4º</h1>
            <img src="{{ url_for('static', filename='img/filme4.jpeg') }}"><br>
            <h3>Juntos</h3>
        </div>

        <div class="filme5">
            <h1>5º</h1>
            <img src="{{ url_for('static', filename='img/filme5.jpg') }}"><br>
            <h3>Os Caras Malvados 2</h3>
        </div>
    </div><br><br><br>

    <div class="em-cartaz">
        <h1>Em cartaz</h1><br>

        <div class="setaesquerda">
            <img src="{{ url_for('static', filename='img/seta2.png') }}">
        </div>

        <div class="filme1">
            <img src="{{ url_for('static', filename='img/filme1.jpg') }}"><br>
            <h3>A Hora do Mal</h3>
        </div>

        <div class="filme2">
            <img src="{{ url_for('static', filename='img/filme2.webp') }}"><br>
            <h3>Uma Sexta-Feira Mais Louca Ainda</h3>
        </div>

        <div class="filme3">
            <img src="{{ url_for('static', filename='img/filme3.webp') }}"><br>
            <h3>Amores Materialistas</h3>
        </div>

        <div class="filme4">
            <img src="{{ url_for('static', filename='img/filme4.jpeg') }}"><br>
            <h3>Juntos</h3>
        </div>

        <div class="filme5">
            <img src="{{ url_for('static', filename='img/filme5.jpg') }}"><br>
            <h3>Os Caras Malvados 2</h3>
        </div>

        <div class="setadireita">
            <img src="{{ url_for('static', filename='img/seta1.png') }}">
        </div>
    </div><br><br><br>

    <div class="proximas-estreias">
        <h1>Próximas estreias</h1><br>

        <div class="setaesquerda">
            <img src="{{ url_for('static', filename='img/seta2.png') }}">
        </div>

        <div class="filme1">
            <img src="{{ url_for('static', filename='img/amores.webp') }}"><br>
            <h3>Amores à Parte</h3><br>
            <span class="data-estreia">Estreia 21/08</span>
        </div>

        <div class="filme2">
            <img src="{{ url_for('static', filename='img/faca.jpg') }}"><br>
            <h3>Faça Ela Voltar</h3><br>
            <span class="data-estreia">Estreia 30/08</span>
        </div>

        <div class="filme3">
            <img src="{{ url_for('static', filename='img/invo1.jpg') }}"><br>
            <h3>Invocação do Mal</h3><br>
            <span class="data-estreia">Estreia 01/09</span>
        </div>

        <div class="filme4">
            <img src="{{ url_for('static', filename='img/invo2.png') }}"><br>
            <h3>Invocação do Mal 2</h3><br>
            <span class="data-estreia">Estreia 01/09</span>
        </div>

        <div class="filme5">
            <img src="{{ url_for('static', filename='img/invo3.png') }}"><br>
            <h3>Invocação do Mal 3</h3><br>
            <span class="data-estreia">Estreia 01/09</span>
        </div>

        <div class="setadireita">
            <img src="{{ url_for('static', filename='img/seta1.png') }}">
        </div>
    </div><br><br><br>

    <div class="podemos-ajudar">
        <h1>Em que podemos ajudar?</h1><br>

        <button class="perfil">Meu perfil</button>
        <button class="ingressos">Ingressos</button>
        <button class="promocoes">Promoções</button>
        <button class="outro">Outro atendimento</button>
    </div><br><br><br>

    <div class="footer">
        <footer>
            <div class="coluna1">
                <h3>Institucional</h3>
                <ul>
                    <li>Quem somos</li>
                    <li>Sobre a empresa</li>
                    <li>Faça parte da empresa</li>
                </ul>
            </div>

            <div class="coluna2">
                <h3>Políticas</h3>
                <ul>
                    <li>Privacidade e Segurança</li>
                    <li>Meia-Entrada</li>
                    <li>Cancelamentos e Trocas</li>
                    <li>Termos de Uso</li>
                </ul>
            </div>

            <div class="coluna3">
                <h3>Redes Sociais</h3>
                <ul>
                    <li><img src="{{ url_for('static', filename='img/insta.png') }}">Instagram</li>
                    <li><img src="{{ url_for('static', filename='img/youtube.png') }}">Youtube</li>
                    <li><img src="{{ url_for('static', filename='img/facebook.png') }}">Facebook</li>
                </ul>
            </div>

            <div class="coluna4">
                <h3>Precisa de ajuda?</h3>
                <ul>
                    <li>Atendimento</li>
                </ul>
            </div>
        </footer>
    </div>
    </div>
</body>
</html>