<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIlmes</title>
</head>
<body>
    <nav class="nav">
        <ul>
            <li>
            <div class="nav-item">
                <img src="{{ url_for('static', filename='img/Luvi Ingressos.png') }}" class="logo">
            </div>
            </li>

            <li>
                <div class="nav-item">
                <img src="{{ url_for('static', filename='img/ingresso (1).png') }}">
                <a href="ingressos"><span>Ingressos</span></a>
                </div>
            </li>

            <li>
                <div class="nav-item">
                <img src="{{ url_for('static', filename='img/cinema.png') }}">
                <span>Cinemas</span>
                </div>
            </li>

            <li>
                <div class="nav-item">
                <img src="{{ url_for('static', filename='img/jornal.png') }}">
                <span>Notícias</span>
                </div>
            </li>

            <li>
                <div class="search-container">
                    <input type="text" placeholder="Digite aqui...">
                    <button type="submit">Pesquisar</button>
                </div>
            </li>

            <li>
                <div class="nav-item">
                    <span>Olá, user!</span>
                </div>
            </li>
        </ul>
    </nav>
</body>
</html>